document.env =
  jira:
    server: 'https://example.atlassian.net'
    username: 'example-user'
    # you can hash your password using btoa('yourpassword') in a browser,
    # then copy paste here
    password: atob('aGFzaGVkcGFzc3dvcmQ=')
    # If you have a project with short name "PRJ" then this would work,
    # e.g. for IDs like 'PRJ-1234'
    issue_id_matcher: /#?(PRJ-\d+)/g
