load.language = 'coffee'
load 'cloudApp'
load 'gist'
load 'twitter'

# load 'jira_issues'

###
# load JS like this
load 'whatever.js'

# or set the language
laod.language = 'js'
load 'whatever' # js file
load 'twitter.coffee' # coffee file
###

